<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Consultar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-card mode="ios">
    <ion-card-header>
      <ion-card-title>Predial</ion-card-title>
      <ion-row>
        <ion-col>
          <ion-text><p class="info-text">Ingrese los siguientes datos solicitados</p></ion-text>
        </ion-col>
      </ion-row>
    </ion-card-header>
    <ion-card-content class="card-content-predial">
      <ion-grid>
        <ion-row>
          <ion-col>
              <ion-list class="form-list" lines="full">
                  <form [formGroup]="formularioConsultaPredial">

                    <ion-item>
                      <ion-label color="medium" position="floating">Municipio</ion-label>
                      <ion-select formControlName="municipio" class="form-control" [interfaceOptions]="customActionSheetOptions" interface="popover" cancelText="Cancelar" placeholder="" required>
                        <ion-select-option [value]="municipio.id" *ngFor="let municipio of municipios">{{municipio.nombre}}</ion-select-option>
                      </ion-select>
                      <ion-icon color="medium" name="globe" slot="start"></ion-icon>
                    </ion-item>
  
                    <ion-item lines="none" class="validation-errors" *ngIf="!formularioConsultaPredial.controls.municipio.valid && (formularioConsultaPredial.controls.municipio.dirty || enviado)">
                        <ion-icon size="small" color="danger" name="information-circle" slot="start" *ngIf="formularioConsultaPredial.controls.municipio.errors.required"></ion-icon><p class="error-message" *ngIf="formularioConsultaPredial.controls.municipio.errors.required">Por favor, seleccione un municipio</p>
                    </ion-item>
    
                    <ion-item>
                      <ion-label color="medium" position="floating">Cuenta</ion-label>
                      <ion-input type="text" formControlName="numeroCuenta" class="form-control" clearInput placeholder="" required></ion-input>
                      <ion-icon color="medium" name="key" slot="start"></ion-icon>
                    </ion-item>
                    
                    <ion-item lines="none" class="validation-errors" *ngIf="!formularioConsultaPredial.controls.numeroCuenta.valid && (formularioConsultaPredial.controls.numeroCuenta.dirty || enviado)">
                        <ion-icon size="small" color="danger" name="information-circle" slot="start" *ngIf="formularioConsultaPredial.controls.numeroCuenta.errors.required"></ion-icon><p class="error-message" *ngIf="formularioConsultaPredial.controls.numeroCuenta.errors.required">Por favor, ingrese un número de cuenta</p>
                        <ion-icon size="small" color="danger" name="information-circle" slot="start" *ngIf="formularioConsultaPredial.controls.numeroCuenta.errors.pattern"></ion-icon><p class="error-message" *ngIf="formularioConsultaPredial.controls.numeroCuenta.errors.pattern">Ingrese un número de cuenta válido</p>
                    </ion-item>

                    <ion-item lines="none" style="height:10px;">

                    </ion-item>

                  </form>
                </ion-list>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
    <ion-row class="cardfooter" (click)="resetForm()">
      <ion-col class="col-align-center">
            <p class="p-text-primary">Limpiar</p>
      </ion-col>
    </ion-row>
    <!--<img src="../../../assets/img/a1486213390617.562732ef5e8c1.jpeg">-->
  </ion-card>


  <ion-card *ngIf="consultasPredial.length > 0" mode="ios">
    <ion-card-header>
      <ion-card-title>Consultas recientes</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list lines="none">
        <ion-item *ngFor="let consulta of consultasPredial" detail>
          <ion-grid>
            <!--<ion-row (click)="ejecutarConsultaReciente(consulta)">-->
            <ion-row (click)="ejecutarConsultaRecienteFake(consulta)">
              <ion-col class="align-self-center">
                <p *ngIf="consulta.municipio"><strong>Municipio: </strong> {{consulta.municipio.nombre}}</p>
                <p><strong>Cuenta: </strong> {{consulta.data.predio.numeroCuenta}}</p>
                <p class="medium-color-text">{{consulta.date | date: 'MMM d, y, h:mm:ss a'}}</p>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
      </ion-list>
    </ion-card-content>
    <ion-row class="cardfooter" (click)="removerConsultasPredialRecientes()">
      <ion-col class="col-align-center">
            <p class="p-text-primary">Eliminar consultas recientes</p>
      </ion-col>
    </ion-row>
  </ion-card>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col>
            <!--<ion-button (click)="consultarPredial()" expand="block" [disabled]="!formularioConsultaPredial.valid" >Buscar</ion-button>-->
            <!--<ion-button (click)="consultarPredial()" expand="block">Buscar</ion-button>-->
            <ion-button (click)="consultaPredialFake()" expand="block">Buscar</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>
