.col-align-end {
    text-align: end;
}

.col-align-start {
    text-align: start;
}

.font-larger {
    font-size: large;
}

.base-gravable {
    background: #efefef;
}

.row-data {
    margin: 10px 0 0 0;
}

.base-gravable {
    background: #f3f5f8;
}

.cardfooter {
    border-top: 1px solid #efefef69;
  }