.active {
  color: var(--ion-color-primary);
  ion-icon {
    color: var(--ion-color-primary);
  }
}

.logo-app {
  width: 40px;
  height: 40px;
  margin: 0 -10px 0 10px;
}

.img-logo-app {
  width: 40px;
  height: 40px;
}